*{
  padding: 0px;
  margin: 0px;
  box-sizing: content-box;
}

body{
  background: #f7f5f5;
}

.aqua{
  background-color: aqua;
}

.wrapper{
  margin:2% 5% 0.4%;
  background-color: white;
}

#header{
  margin: 0.5% 0.5%;
  padding-top: 2%;
  border-radius: 10px;
}

#wca_logo{
  width: 10%;
}
#nav{
  padding: 0 2%;
  float: right;
  width: 60%;
  margin-right: 2.7%;
}

.dropdown{
  display: flex;
  justify-content:flex-end;
  column-gap:2.5%;
  position: relative;
}

.dropdownbtn{
  list-style-type: none;
  font-size: 1.1em;
}

.dropdownbtn a:link{
  text-decoration: none;
  color: black;
}

.dropdown a:visited{
  color: black;
}

.dropdownbtn a:hover{
  background-color: rgb(212, 206, 206);
}

.dropdown-content{
  display: none;
  z-index: 7;
  position: absolute;
  border: 1px solid rgb(222,222,222);
}

.dropdown-content a{
  background-color: rgb(244, 244, 244);
  text-decoration: none;
  padding: 2% 4%;
  width: 100%;
}

.dropdown-content a:link{
  color: black;
}

.dropdownbtn:hover .dropdown-content{
  display: flex;
  flex-direction: column;
  flex-grow: 2;
}

.grid-block{
  padding: 1% 7% 1% 1%;
}

.grid-block h2{
  padding:2% 0 0.5%;
}

.grid-block ul{
  padding:0 1%;
}

#contactus{
  padding-top: 1.5%;
  padding-bottom: 0;
  background-color: black;
  color: white;
  text-align: center;
}

.footer-menu{
  display: flex;
  column-gap: 1%;
  list-style-type:none;
  justify-content: center;
  padding: 1% 0;
}

.footer-menu-content a{
  color: rgb(165, 243, 241);
  text-decoration: none;
}